<!doctype html>
<html lang="zh-cn">
<title>我的论坛</title>
<meta charset="utf-8">
<link rel="stylesheet" href = "../static/style.css">
<!--{{ url_for('static',filename='style.css' ) }}-->
 <h3>力奇蛙的论坛</h3>
<body>

			<ul class="head-nav">
				<li class="head-nav-index">
					<a href="{{ url_for('blog.index') }}">首页</a>
				</li>
				<li class="head-nav-createtopic">
					<a href="{{ url_for('blog.topic') }}">创建主题</a>
				</li>
				<li class="head-nav-createcatego">
					<a href="{{ url_for('blog.category') }}">创建分类</a>
				</li>
                {% if g.user %}
                <li><span>{{ g.user['username']}}</span></li>
				<li class="head-nav-register">
					<a href="{{ url_for('auth.logout')}}">退出</a>
				</li>
                {% else %}
				<li class="head-nav-login">
					<a href="{{ url_for('auth.login') }}">登陆</a>
				</li>
				<li class="head-nav-register">
					<a href="{{ url_for('auth.register') }}">注册</a>
				</li>
                {% endif %}
			</ul>

		<section class="content">
			<header>
				{% block header %}{% endblock %}
			</header>
			{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
			{% endfor %}
			{% block content %}{% endblock %}
		</section>
</body>
</html>