
@media (max-width: 1440px)
.head-nav {
    line-height: 58px;
    font-size: 14px;
}
.head-nav {
    float: center;
    display: inline;
    padding: 0 10px 0 25px;
    line-height: 30px;
    font-size: 16px;
    color: #333;
}
ul, li, ol {
    list-style: none;
    padding: 10;
    margin: 0;
}
ul, ol, li, dl, dd, dt {
    margin: 0;
    padding: 10;
    list-style: none;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    padding-inline-start: 40px;
}
.head-nav li{
	float: left;
	position: relative;
}
.head-nav li a {
    display: inline-block;
    padding: 0 16px;
    color: #333;
    vertical-align: top;

}
a {
    background-color: transparent;

    color: #ff9d00;
    cursor: pointer;
}

